   {{> nav-dash}}

    <div class="columns">
        <div class="column is-one-third">
            <div id="mainCards">
                <div class="cardYT card">
                    <div class="card-content">
                        <div class="field">
                            <h4 class="title is-5 has-text-grey-dark">CALENDAR 2023</h4>
                                      <div id="month">
          <button class="button is-medium is-fullwidth is-danger is-outlined" data-value="1">January</button>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined" data-value="2">February</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="3">March</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="4">April</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="5">May</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="6">June</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="7">July</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="8">August</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="9">September</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="10">October</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="11">November</button></p>
          <p class="pt-1"><button class="button is-medium is-fullwidth is-danger is-outlined"data-value="12">December</button></p>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <!-- Display income, expenses, and net income -->
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Total Income</p>
                                    <p class="income" id="income">0.00</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Total Expenses</p>
                                    <p class="expenses" id="expenses">0.00</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Net Income</p>
                                    <p class="net" id="net">0.00</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Expense form -->
                        <div id="expense-form-container">
                            <form id="expense-form">
                                <div class="select is-danger">
                               <select id="transaction-type">
                                    <option value="" disabled selected>Select Transaction Type</option>
                                    <option value="Income">Income</option>
                                    <option value="Expense">Expense</option>
                                </select>
                            </div>
                              <br><br>
                            <!-- Separate dropdown for income -->
                            <div class="select is-danger" id="income-category" style="display: none;">
                                <select id="transaction-category-income">
                                    <option disabled selected>Select Income Category</option>
                                    <option value="Salary Income">Salary Income</option>
                                    <option value="Other Income">Other Income</option>
                                    <option value="Income from BUsiness">Income from Business</option>
                                    <!-- Add more income categories here -->
                                </select>
                            </div>

                            <!-- Separate dropdown for expense -->
                            <div class="select is-danger" id="expense-category" style="display: none;">
                                <select id="transaction-category-expense">
                                    <option disabled selected>Select Expense Category</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Utilities">Utilities</option>
                                    <option value="Food">Food</option>
                                    <option value="Phone Bills">Phone Bills</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Misc Expense">Misc Expense</option>
                                    <!-- Add more expense categories here -->
                                </select>
                            </div>

                                <hr>
                                <div class="field has-addons has-addons-centered">
                                    <p class="control">
                                        <span class="select is-danger">
                                            <select id="currency">
                                                <option>$</option>
                                                <!-- Add more currency options as needed -->
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control is-danger">
                                        <input class="input is-danger" type="number" placeholder="Amount of money" id="transaction-amount">
                                    </p>
                                    <p class="control">
                                        <button class="button is-primary is-danger" id="save-expense-button">
                                            Save
                                        </button>
                                    </p>
                                </div>
                                  <script id="transaction-template" type="text/x-handlebars-template">
                                        {{#each transactions}}
                                        <li>
                                            <div class="transaction-info">
                                                <span class="transaction-type">{{type}}</span>
                                                <span class="transaction-category">{{category}}</span>
                                                <span class="transaction-amount">{{amount}}</span>
                                            </div>
                                            <div class="transaction-date">
                                                {{formatDate date}}
                                            </div>
                                            <button class="delete-button" data-transaction-id="{{id}}">Delete</button>
                                        </li>
                                        {{/each}}
                                    </script>

                                <hr>
                                <!-- Transaction history -->
                                <div class="transaction-history">
                                    <h4 class="title is-5">Transaction History</h4>
                                    <ul id="transaction-list">
                                        <!-- Transaction entries will be added here dynamically using JavaScript -->
                                    </ul>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Handlebars library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <!-- Include your JavaScript file at the end of the body -->
    <script src="./js/expense.js"></script>